.form {
    display: flex;
    background: #222
}

.input {
    border: none;
    border-radius: 0;
    padding: 5%;
    width: 80%;
    margin: 0;
    font-size: 1.2em;
    background: #222
}

input:focus,
textarea:focus,
selecct:focus {
    outline: none
}

.sendBtn {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%
}