html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: #222
}

.num {
  border-radius: 50%;
  position: absolute;
  padding: 0px 3px;
  right: 2%;
  font-size: 13px;
  background: red
}

a {
  text-decoration: none;
}

.HeaderContent {
  width: 100%;
  position: fixed;
  padding: 10px;
  box-sizing: border-box;
  height: 80px;
  background: #2979ff;
  color: white;
  z-index: 3;
}

.HeaderContent h1 {
  font-size: 3vw;
  position: absolute;
  margin: 0px 30px;
  vertical-align: middle;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 10px 0px 20px #222;
}

.outerContainer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100vh;
  background: url('https://media.giphy.com/media/tKx3Fcc1vv9BhDMMjw/giphy.gif');
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 10px 30px;
  box-sizing: border-box;
}

.icons {
  display: inline-block;
  float: right;
}

.icons .bell {
  position: relative;
  float: right;
  margin: 20px 0px;
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
  max-height: 80vh;
  height: 75vh;
  box-sizing: border-box;
  width: 50%;
  margin: 0;
  margin-top: 10%;
  bottom: 0;
}

.container .ui.segment {
  height: 75vh;
  margin: 0;
  background: #222;
  border-bottom: none;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  overflow-x: hidden;
}

.ui.segment {
  color: green;
  border: none;
  background: #222
}

.advice {
  width: 40%;
  margin: 0;
  position: fixed;
  top: 10px;
}

.advice .main {
  border: none;
  text-align: center;
}

.advice .icon {
  width: 20%;
  height: 50px;
  font-size: 50px;
  position: relative;
  border-radius: 50%;
  border: 1px solid grey;
}

.ui.card {
  height: 350px;
  margin: 2%;
  padding-bottom: 10px;
  margin-right: -5%;
  top: -30px;
}

.one {
  margin: 2%;
  margin-right: -6%;
}

.one .ui.card {
  height: 350px;
  margin: 0;
  padding-bottom: 10px;
  top: 0px;
}

.ui.card .content {
  padding-bottom: 0px;
}

.ui.card .names {
  height: 260px;
  margin-right: -.5%;
  overflow-x: hidden;

  top: -30px;
  /* background-image: url('https://media.giphy.com/media/tKx3Fcc1vv9BhDMMjw/giphy.gif'); */
}

.ui.card .names .items {
  border-bottom: 2px solid #ddd;
  text-transform: capitalize;
  /* color: white; */
}

.ui.card .names p {
  margin-right: 5px;
  color: rgb(56, 54, 54);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container1 {
  background: transparent;
  width: 25px;
  height: 25px;
  bottom: 22%;
  color: orange;
  margin-left: 5px;
}

.container1:hover,
.container1:focus {
  color: white;
  border-radius: 50%;
  border: none;

  text-align: center;
  cursor: pointer;
  padding: 0;
  outline: 0;
  background-color: rgb(241, 206, 9);
}

.ui.card .content .header {
  color: green;
  border-bottom: 2px solid green;
}

.ui.card .header.two {
  color: red;
  text-align: center;
  border-bottom: 2px solid red;
}

.ui.card .content p {
  width: 100%;
  margin-top: 15px;
  text-align: center;

}


.ui.card .extra p {
  display: inline-flex;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.ui.card.logout .extra a {
  width: 50%;
  color: white;
  margin: 0;
  padding: 10px;
  opacity: .8;
}

.ui.card.logout .extra a:hover {
  color: white;
  opacity: 1;
}

.ui.card.logout .extra a:first-child {
  border-right: 2px solid lightgrey;
  background: green;
}

.ui.card.logout .extra a:last-child {
  background: red;
}


.showFeed {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 50%;
  border-radius: 10px;
  height: 60vh;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.25) ease-in-out;
  top: 50%;
  left: 50%;
  text-align: center;
  background: url('https://cdn.clipart.email/245f64e0f1fc040e5cca293665ceefd5_fireworks-sticker-for-ios-android-giphy_300-300.gif') rgba(83, 64, 64, 0.6);
  transform: translate(-50%, -50%);
}

.ui.segment.feedback {
  background-image: url('https://cdn.clipart.email/245f64e0f1fc040e5cca293665ceefd5_fireworks-sticker-for-ios-android-giphy_300-300.gif');
}

.showFeed .close {
  position: absolute;
  top: 5%;
  right: 3%;
}

.showFeed .close i {
  color: whitesmoke;
  font-size: 30px;
}

.showFeed .close i:hover {
  cursor: pointer;
  color: white;
}

.overlay1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100vh;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.25) ease-in-out;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
}

.overlay1 .close {
  position: absolute;
  top: 15%;
  right: 7%;
}

.overlay1 .close i {
  color: whitesmoke;
  font-size: 30px;
}

.overlay1 .close i:hover {
  cursor: pointer;
  color: white;
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  width: 100%;
  height: 100vh;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.25) ease-in-out;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.6);
  transform: translate(-50%, -50%);
}

.overlay .close {
  position: absolute;
  top: 15%;
  right: 7%;
}

.overlay .close i {
  color: whitesmoke;
  font-size: 30px;
}

.overlay .close i:hover {
  cursor: pointer;
  color: white;
}

.outline.user {
  display: none;
  position: relative;
  float: right;
  margin: 20px 10px;
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}

@media screens and (min-width: 1200px) {
  .container1 {
    bottom: 20%
  }
}

@media (min-width: 900px) and (max-width: 1200px) {
  .container1 {
    bottom: 20%
  }
}

@media (min-width: 701px) and (max-width: 900px) {
  .one {
    display: none;
  }

  .advice {
    width: 80%;
  }

  .showFeed {
    width: 70%;
  }

  .advice .icon {
    width: 40%;
  }

  .container1 {
    bottom: 22%
  }

  .container {
    min-width: 400px;
    width: 90%;
  }

  .outline.user {
    display: block;
  }

  .HeaderContent h1 {
    font-size: 4vw;
  }
}

@media (min-width: 481px) and (max-width: 700px) {
  .one {
    display: none;
  }

  .showFeed {
    width: 95%;
  }

  .container1 {
    bottom: 20%
  }

  .HeaderContent h1 {
    font-size: 35px;
  }

  .advice {
    width: 70%;
  }

  .advice .icon {
    width: 40%;
  }

  .outline.user {
    display: block;
  }

  .container {
    min-width: 400px;
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .one {
    display: none;
  }

  .showFeed {
    width: 100%;
    height: 100vh;
  }

  html,
  body {
    overflow: visible;
    background-attachment: fixed;
  }

  .advice {
    width: 80%;
  }

  .advice .icon {
    width: 40%;
  }

  .HeaderContent h1 {
    font-size: 35px;
  }

  .outline.user {
    display: block;
  }

  .container1 {
    top: 80%;
    bottom: 10%;
    border-radius: 50%;
    box-shadow: 1px 3px 5px black;
  }

  .container {
    min-width: 400px;
    width: 80%;
  }
}

@media (min-height: 400px) {
  .container1 {
    position: relative;
    top: 80%;
    bottom: 5%;
    border-radius: 50%;
    box-shadow: 0px 3px 5px black;
  }
}